<div id="sidebar-wrapper">
  <div class="accordion" id="navbar">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Gronia Tools
        </a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#web">
          <i class="fa fa-list" style="margin-left:-36px"></i> WEB
        </a>
        <ul class="sidebar-nav sidebar-nav-sub collapse show" id="web" data-parent="#navbar">
          <li>
            <a routerLink="/url-decode">URL Encode / Decode</a>
          </li>
          <li>
            <a routerLink="/base64-encode-decode">Base64 Encode / Decode</a>
          </li>
          <li>
            <a routerLink="/md5-encode">MD5 Encode</a>
          </li>
        </ul>
      </li>
      <!--<li>-->
        <!--<a href="#" data-toggle="collapse" data-target="#image">-->
          <!--<i class="fa fa-list" style="margin-left:-36px"></i> Image-->
        <!--</a>-->
        <!--<ul class="sidebar-nav sidebar-nav-sub collapse" id="image" data-parent="#navbar">-->
          <!--<ul class="sidebar-nav sidebar-nav-sub collapse show" id="web" data-parent="#navbar">-->
            <!--<li>-->
              <!--<a routerLink="/url-encode">URL Encode / Decode</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</ul>-->
      <!--</li>-->
    </ul>
  </div>
</div>
